/* Contains css for site menus */
/* Contains css for main menu */
div.menu-primary {
  @include border-top-left-radius(5px);
      @include border-top-right-radius(5px);
      @include border-bottom-right-radius(5px);
      @include border-bottom-left-radius(5px);
  background-color: #a0ca45;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a0ca45), to($green)); /* Chrome, Safari 4+ */
  background-image: -webkit-linear-gradient(top, #a0ca45, $green); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
  background-image:    -moz-linear-gradient(top, #a0ca45, $green); /* Firefox 3.6-15 */
  background-image:      -o-linear-gradient(top, #a0ca45, $green); /* Opera 11.10-12.00 */
  background-image:         linear-gradient(to bottom, #a0ca45, $green); /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
  height: 3em;
  line-height:3em;
  ul.menu-primary {
    li:first-child{
    }
    li {
      display:inline;
      padding:0;
      margin:0;
      position:relative;

      a {
        text-decoration:none;
        width: auto;
        padding: .95em 1em;
        height: inherit;
        color:white;
        margin:0 -3px;
      }
      a:hover, a:active {
        background-color: $linksHover;
      }
      ul {
        display:none;
      }
    }
    li:hover, li.current-menu-item:hover {
    ul {
      display:block;
      position:absolute;
      top:.8em;
      left:0;
      padding-left:0;
      width:inherit;
      z-index:1000000;
      li {
        a {
          @include border-top-left-radius(0);
          @include border-top-right-radius(0);
          width:215px;
          display:block;
          height:2em;
          line-height:1.5em;
          padding:.3em .5em;
          background: $gray;   
          color: black;
          letter-spacing:.1em;
          font-size:.8em;
        }

        a:hover {
          background: $hovergray;
          padding-left: .8em;
        }
        a[title=secondary], a[title=primary]{
          background: grey;
          color:white;
          cursor:text;
        }
        a[title=secondary]:hover, a[title=primary]:hover{
          padding-left:.5em;
        }
      }
    }
  }
}}

/*contains css for top and secondary menu */
$radius: 5px;

ul.menu-secondary, ul.menu-top{
	height:auto;
	padding-left:0px;
	li {
		display:inline;
    position:relative;
		a {
			@include border-top-left-radius(5px);
			@include border-top-right-radius(5px);
			text-decoration:none;
			padding: .8em;
			background: $links;		
			color: white;
			font-weight: bold;
			border:solid 1px #327E04;
			border-bottom: none;
			line-height:3em;
			
		}
		a:hover {
			background: #67b021;
		}

    ul {
      display:none;
      li {

      }
    }
	}
  li:hover, li.current-menu-item:hover {
    ul {
      display:block;
      position:absolute;
      top:.8em;
      left:0;
      padding-left:0;
      width:inherit;
      z-index:1000000;
      li {
        a {
          @include border-top-left-radius(0);
          @include border-top-right-radius(0);
          width:215px;
          display:block;
          height:2em;
          line-height:1.5em;
          padding:.3em .5em;
          background: $links;   
          color: white;
          letter-spacing:.1em;
          font-size:.8em;
        }

        a:hover {
          background: #67b021;
          padding-left: .8em;
        }
        a[title=secondary], a[title=primary]{
          background: grey;
          cursor:text;
        }
        a[title=secondary]:hover, a[title=primary]:hover{
          padding-left:.5em;
        }
      }
    }
  }
	li.current-menu-item {
		a {
			background: white;
			color: $links;
		}
	}
}

ul.menu-secondary, ul.menu-top {
	li {
		a, a:visited {
			background: #2a2a2a;
			color: white;
			border:solid 1px #1a1a1a;
			border-bottom:none;
		}

		a:hover {
			background: #4a4a4a;
		}
	}
}

ul.menu-top {
	li {
		a, a:visited {
			padding: .5em;
			font-size: 9px;
			line-height: 10px;
			font-weight:normal;
		}
		
	}
}


ul.menu-foot {
	width:100%;
	height:auto;
	padding-left:0;
	text-align:center;
	li {
		display:inline;
		a {
			text-decoration:none;
			padding:1em .5em;
		}
	}
}
/* top links styling */

.top-links {
  ul{
    li{
      display:inline;
      float:right;
      a{
        color:$gray;
        text-align:right;
        font-size:.7em;
        letter-spacing:.2em;
        padding:0 .4em;
        text-decoration:none;
        margin:0;
      }
      a:hover, a:active {
        color:$dkgrey;
      }
    }
  }
}

